.bigBody
{
    width: 936px;
    margin: 0 auto;
}
img {
    height:250px;
    float: left;
}
.personInfo 
{
    float: left;
    margin-left: 50px;
}
.firstPart
{
    margin-bottom:30px;
}
hr
{
    margin-bottom:30px;
}
.myBook
{
    padding:5px;
}
ul
{
    margin: 5px 15px 20px 0;
    
}
    ul li {
        width: 150px;
        margin-top:5px;
    }
    ul li img
    {
        width:106px;
        height:158px;
    }
    ul li p
    {
        width:106px;
        color:#37a;
        text-align:center;
		white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
li
{
    display: inline-block
}
.myBookDetail
{
    width:580px;
}
.secondPart
{
    width:580px;
}