body {
    margin: 0;
}
a {
    text-decoration: none;
    color: #d5d5d5;
}

ul {
    list-style: none;
    margin: auto;
    width: 1050px;
    padding-left: 0;
}

nav {
    height: 28px;
    color: #d5d5d5;
    background-color: #545652;
    font: 12px Helvetica,Arial,sans-serif;
    line-height: 28px;
    margin-bottom: 100px;
}

#hint {
    margin-left: 50px;
}

#login_info {
    margin-right: 50px;
    float: right;
}

.clear {
    clear: both;
}

#search {
    margin: auto;
    width: 600px;
    padding-top: 35px;
}

#logo {
    float: left;
    display: block;
    width: 200px;
    font-size: 60px;
    color: #614e3c;
}

#search_input {
    float: right;
    width: 322px;
    height: 28px;
    
}
#search_btn {
    border:1px solid #808080;
    float: right;
    width:28px;
    height:28px;
    background: #fff url(../img/search.png) no-repeat center content-box;
}

#search_container {
    width: 100%;
    height: 100px;
    display: block;
    background-color: #f7f3f3;
    border-bottom: 1px solid #e5ebe4;
}

menu
{
    padding: 0;
    display: block;
    width: 100%;
    height: 40px;
    border-top: 1px solid #e5ebe4;
    border-bottom: 1px solid #e5ebe4;
    background-color: #f7f3f3;
}

menu li {
    float: left;
    width: 150px;
    text-align: center;
    line-height: 40px;
    color: #614e3c;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}

article li {
    width: 210px;
    height: 250px;
    float: left;
}

article .info {
    padding-left: 30px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-align: center;
}

.cover {
    text-align: center;
}

    .cover img {
        width: 150px;
        height: 210px;
    }

.container {
    width: 1050px;
    margin: auto;
    padding: 20px;
}
.floatRight {
    float:right;
    color: #614e3c;
}
.greenBtn{
padding: 10px 15px;
background-color: #3ba354;
color: #fff;
width: 100px;
height: 60px;
border-radius: 10px;
]