<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/template.css" />
    <script type="text/javascript" src="../static/js/template.js"></script>
</head>
<body>
    <nav>
        <span id="hint">BookEx欢迎你</span>
        <span id="login_info">
            <a>登录</a> | <a>注册</a>
        </span>
        <div class="clear"></div>
        <div id="search_container">
            <div id="search">
                <span id="logo">BookEx</span>
                <input id="search_input" type="search" placeholder="输入你感兴趣的书名" />
                <div class="clear"></div>
            </div>
        </div>
    </nav>
    <menu>
        <ul>
            <li>教材教辅</li>
            <li>少儿</li>
            <li>文学艺术</li>
            <li>人文社科</li>
            <li>经济管理</li>
            <li>励志与成功</li>
            <li>科技</li>
        </ul>
    </menu>
    <article>
        <ul>
            <li>
                <div class="cover">
                    <a href="http://read.douban.com/ebook/272318/?dcs=book-hot&amp;dcm=douban&amp;dct=read-subject" target="_blank" title="时代的噪音">
                        <img src="http://img3.douban.com/view/ark_article_cover/cut/public/272318.jpg?v=1396492963.0" alt="时代的噪音">
                    </a>
                </div>
                <a class="info">
                    书名abcdefghijkl
                </a>
            </li>
            <li>
                <div class="cover">
                    <a href="http://read.douban.com/ebook/272318/?dcs=book-hot&amp;dcm=douban&amp;dct=read-subject" target="_blank" title="时代的噪音">
                        <img src="http://img3.douban.com/view/ark_article_cover/cut/public/272318.jpg?v=1396492963.0" alt="时代的噪音">
                    </a>
                </div>
                <a class="info">
                    书名
                </a>
            </li>
            <li>
                <div class="cover">
                    <a href="http://read.douban.com/ebook/272318/?dcs=book-hot&amp;dcm=douban&amp;dct=read-subject" target="_blank" title="时代的噪音">
                        <img src="http://img3.douban.com/view/ark_article_cover/cut/public/272318.jpg?v=1396492963.0" alt="时代的噪音">
                    </a>
                </div>
                <a class="info">
                    书名abcdefghijkl
                </a>
            </li>
            <li>
                <div class="cover">
                    <a href="http://read.douban.com/ebook/272318/?dcs=book-hot&amp;dcm=douban&amp;dct=read-subject" target="_blank" title="时代的噪音">
                        <img src="http://img3.douban.com/view/ark_article_cover/cut/public/272318.jpg?v=1396492963.0" alt="时代的噪音">
                    </a>
                </div>
                <a class="info">
                    书名
                </a>
            </li>
            <li>
                <div class="cover">
                    <a href="http://read.douban.com/ebook/272318/?dcs=book-hot&amp;dcm=douban&amp;dct=read-subject" target="_blank" title="时代的噪音">
                        <img src="http://img3.douban.com/view/ark_article_cover/cut/public/272318.jpg?v=1396492963.0" alt="时代的噪音">
                    </a>
                </div>
                <a class="info">
                    书名abcdefghijkl
                </a>
            </li>
            <li>
                <div class="cover">
                    <a href="http://read.douban.com/ebook/272318/?dcs=book-hot&amp;dcm=douban&amp;dct=read-subject" target="_blank" title="时代的噪音">
                        <img src="http://img3.douban.com/view/ark_article_cover/cut/public/272318.jpg?v=1396492963.0" alt="时代的噪音">
                    </a>
                </div>
                <a class="info">
                    书名
                </a>
            </li>
        </ul>
    </article>
</body>
</html>
