<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{static_url("css/template.css")}}" />
    <script type="text/javascript" src="{{static_url("js/jquery.js")}}"></script>
    <script type="text/javascript" src="{{static_url("js/template.js")}}"></script>
    <script type="text/javascript" src="{{static_url("js/search.js")}}"></script>
</head>
<body>
    <nav>
        <span id="hint">BookEx欢迎你</span>
        <span id="login_info">
            {% if user %}
                <a id="user_id" href="homepage">{{ escape(user) }}</a> | <a href="api/v1/users/logout">退出</a>
            {% else %}
                <a href="api/v1/users/login">登录</a> | <a href="api/v1/users/register">注册</a>
            {% end %}
        </span>
        <div class="clear"></div>
        <div id="search_container">
            <div id="search">
                <span id="logo">BookEx</span>
                <button id="search_btn" accesskey="enter"></button>
                <input id="search_input" type="search" placeholder="输入你感兴趣的书名/作者/类别" />
                <div class="clear"></div>
                <div class="floatRight">
                    <input id="radio1" type="radio" name="type" value="book_name" checked /><label for="radio1">书名</label>
                    <input id="radio2" type="radio" name="type" value="author" /><label for="radio2">作者</label>
                    <input id="radio3" type="radio" name="type" value="genre" /><label for="radio3">类别</label>
                </div>
            </div>
        </div>
    </nav>
    <menu>
        <ul>
            <li>教材教辅</li>
            <li>少儿</li>
            <li>文学艺术</li>
            <li>人文社科</li>
            <li>经济管理</li>
            <li>励志与成功</li>
            <li>科技</li>
        </ul>
    </menu>
    <article>
        <ul id="books"></ul>
    </article>
</body>
</html>
