<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/template.css" />
    <script type="text/javascript" src="../static/js/template.js"></script>
</head>
<body>
    <nav>
        <span id="hint">BookEx欢迎你</span>
        <span id="login_info">
            <a>登录</a> | <a>注册</a>
        </span>
        <div class="clear"></div>
        <div id="search_container">
            <div id="search">
                <span id="logo">BookEx</span>
                <input id="search_input" type="search" placeholder="输入你感兴趣的书名" />
                <div class="clear"></div>
            </div>
        </div>
    </nav>
    <menu>
        <ul>
            <li>教材教辅</li>
            <li>少儿</li>
            <li>文学艺术</li>
            <li>人文社科</li>
            <li>经济管理</li>
            <li>励志与成功</li>
            <li>科技</li>
        </ul>
    </menu>
</body>
</html>
