<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/template.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/search.css" />
    <script type="text/javascript" src="../static/js/template.js"></script>
</head>
<body>
    <nav>
        <span id="hint">BookEx欢迎你</span>
        <span id="login_info">
            <a>登录</a> | <a>注册</a>
        </span>
        <div class="clear"></div>
        <div id="search_container">
            <div id="search">
                <span id="logo">BookEx</span>
                <input id="search_input" type="search" placeholder="输入你感兴趣的书名" />
                <div class="clear"></div>
            </div>
        </div>
    </nav>
    <article>
        <div class="container">
            <div class="no_result_hint">
                “<span>小时代</span>”尚未建立<br />
                <br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                欢迎<a>添加此书</a>，与其他朋友一起分享吧
            <button id="addThisBook">我来添加</button>
            </div>
        </div>


    </article>
</body>
</html>
